@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    width: 500px;
  }

  100% {
    width: 100%;
  }
}

@keyframes growSocialToggle {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.125);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes growHeight {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growRulesPoints {
  0% {
    transform: scale(0);
  }

  75% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes growRulesLink {
  0% {
    transform: translateX(50%) scale3d(0, 1, 1);
    color: #ffffff;
  }

  25% {
    opacity: 1;
    color: #ffffff;
  }

  100% {
    transform: translateX(0) scale3d(1, 1, 1);
    color: $c-dark;
    opacity: 1;
  }
}
